html {
    background: #eee;
}

header h1 {
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section h1 {
	font-size: 30px;
	line-height: 36px;
	margin-top: 0px;
	margin-bottom: 20px;
}

header a {
	color: #bfbfbf;
}

header a:hover {
	color: white;
	text-decoration: none;
}

header #user {
    color: #bfbfbf;
    margin-top: 20px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 25px;
    top: 70px;
}

table.computers em {
    color: #aaa;
}

table.computers .col3, table.computers .col4 {
    width: 10%;
    min-width: 100px;
}

table.computers .col5 {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

table .header {
	cursor: pointer;
}

table .header:after {
	content: "";
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #000 transparent;
	visibility: hidden;
}

table .headerSortUp,table .headerSortDown {
	background-color: rgba(141, 192, 219, 0.25);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

table .header:hover:after {
	visibility: visible;
}

table .headerSortDown:after,table .headerSortDown:hover:after {
	visibility: visible;
	filter: alpha(opacity = 60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}

table .headerSortUp:after {
	border-bottom: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	visibility: visible;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter: alpha(opacity = 60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.help-inline,.help-block {
	line-height: 18px;
	color: #bfbfbf;
	padding-left: 5px;
}

.help-inline {
	*position: relative;
	*top: -5px;
}

.help-block {
	display: block;
	font-size: 11px;
	padding-top: 2px;
	max-width: 600px;
}