@(id: String, shopForm: Form[net.fwbrasil.activate.play.EntityData[activate.Shop]])(implicit request: Request[_])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Shop-Mgmt / Edit") {
    
    <h1>Edit shop</h1>
    
    @form(routes.ShopsController.update(id), 'class -> "form-horizontal") {
        
        <fieldset>
            <legend>General</legend>

            @inputText(shopForm("name"), '_label -> "Shop Name", 'class -> "input-xlarge")
            @inputText(shopForm("shortName"), '_label -> "Shop Short Name", 'class -> "input-xlarge")
            @inputText(shopForm("url"), '_label -> "URL", 'class -> "input-xlarge")
            @checkbox(shopForm("active"), '_label -> "Active")
            
        </fieldset>
        <fieldset>
            <legend>Scraping Info</legend>
            
            @inputText(shopForm("queryUrlTemplate"), '_label -> "Query Url Template", 'class -> "input-xlarge")
            @inputText(shopForm("queryUrlEncoding"), '_label -> "Query Encoding", 'class -> "input-xlarge")
            @inputText(shopForm("responseEncoding"), '_label -> "Response Encoding", 'class -> "input-xlarge")
            @inputText(shopForm("imageUrlBase"), '_label -> "Image Url Base", 'class -> "input-xlarge")
            
            @inputText(shopForm("itemXPath"), '_label -> "XPath Item", 'class -> "input-xlarge")
            @inputText(shopForm("nameXPath"), '_label -> "XPath Name", 'class -> "input-xlarge")
            @inputText(shopForm("priceXPath"), '_label -> "XPath Price", 'class -> "input-xlarge")
            @inputText(shopForm("imageUrlXPath"), '_label -> "XPath Image Url", 'class -> "input-xlarge")
            @inputText(shopForm("detailsUrlXPath"), '_label -> "XPath Details Url", 'class -> "input-xlarge")
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this shop" class="btn btn-primary"> or 
            <a href="@routes.ShopsController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.ShopsController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this shop" class="btn btn-danger">
    }
    
}
