@(id: String, shopForm: Form[net.fwbrasil.activate.play.EntityData[activate.Shop]])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit shop</h1>
    
    @form(routes.ShopsController.update(id)) {
        
        <fieldset>
        
            @inputText(shopForm("name"), '_label -> "Shop Name")
            @inputText(shopForm("url"), '_label -> "URL")
            @checkbox(shopForm("active"), '_label -> "Active")
            @inputText(shopForm("queryUrlTemplate"), '_label -> "Query Url Template")
            @inputText(shopForm("queryUrlEncoding"), '_label -> "Query Encoding")
            @inputText(shopForm("responseEncoding"), '_label -> "Response Encoding")
            @inputText(shopForm("imageUrlBase"), '_label -> "Image Url Base")
            
            @inputText(shopForm("itemXPath"), '_label -> "XPath Item")
            @inputText(shopForm("nameXPath"), '_label -> "XPath Name")
            @inputText(shopForm("priceXPath"), '_label -> "XPath Price")
            @inputText(shopForm("imageUrlXPath"), '_label -> "XPath Image Url")
            @inputText(shopForm("detailsUrlXPath"), '_label -> "XPath Details Url")
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this shop" class="btn primary"> or 
            <a href="@routes.ShopsController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.ShopsController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this shop" class="btn danger">
    }
    
}
