@(products: Seq[ProductInfo], query: String)
<div id="content" class="span9 overlay-wrapper">

  <div id="overlay">
    <div id="loading-indicator">
      <img id="loading-image" src="@routes.Assets.at("shop/img/ajax-loader.gif")" />
      <div id="loading-message">Searching @query</div>
    </div>
  </div>

  <!--Body content-->
  <ul class="products loading-wrapper">
    @for(product <- products) {
      <li class="product thumbnail">
        <a class="thumb-wrapper" href="@product.detailsUrl">
          <img class="thumb" style="background-image: url(@product.imageUrl)" />
        </a>
        <a href="@product.detailsUrl">@product.name</a>
        <p><small class="price">@product.priceFormatted</small></p>
        <div class="product-footer">@product.shopName</div>
      </li>
    }
  </ul>
</div>