@(products: Seq[ProductInfo], orderBy: String, query: String)(implicit lang: play.api.i18n.Lang)
@shopMain {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      @helper.form(action=routes.ProductsController.search()) {
      Search: <input type="search" name="query" value="@query" />
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      <input type="submit" id="searchsubmit" value="Search" class="btn primary">
      }

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="phones">
        @for(product <- products) {
          <li class="thumbnail">
            <a href="@product.detailsUrl">
              <img class="thumb" style="background-size: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-image: url(@product.imageUrl)" />
            </a>
            <a href="#/phones/{{phone.id}}">@product.name</a>
            <p>@product.priceFormatted</p>
          </li>
        }
      </ul>

    </div>
  </div>
</div>
}
