@(products: Seq[ProductInfo], orderBy: String, query: String)(implicit lang: play.api.i18n.Lang)
@productMain {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->

      @helper.form(action=routes.ProductsController.search(), 'class -> "form-search") {
        <div class="control-group">
          <label class="control-label" for="query">Search</label>
          <div class="controls">
            <input type="search" name="query" value="@query" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="orderBy">Sort by</label>
          <div class="controls">
            <select od="orderBy">
              <option value="name">Alphabetical</option>
              <option value="age">Newest</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <input type="submit" id="searchsubmit" value="Search" class="btn btn-primary" />
        </div>
      }

    </div>
    <div class="span9">
      <!--Body content-->

      <ul class="products">
        @for(product <- products) {
          <li class="product thumbnail">
            <a class="thumb-wrapper" href="@product.detailsUrl">
              <img class="thumb" style="background-image: url(@product.imageUrl)" />
            </a>
            <a href="@product.detailsUrl">@product.name</a>
            <p><small class="price">@product.priceFormatted</small></p>
          </li>
        }
      </ul>

    </div>
  </div>
</div>
}
