@(currentPage: Page[activate.Shop], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash, request: Request[_])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.ShopsController.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main("Shop-Mgmt / List") {
    
    <h1>@Messages("shops.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert alert-info">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.ShopsController.list(), 'class -> "form-search") {
            <input type="search" id="searchbox" name="f" value="@currentFilter" class="input-medium search-query" placeholder="Filter by shop name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        }
        
        <a class="btn btn-success" id="add" href="@routes.ShopsController.create()">Add a new shop</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { shops =>
        
        <table class="shops table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    @header(2, "Shop name")
                    @header(3, "URL")
                    @header(4, "Active")
                    @header(5, "Created at")
                </tr>
            </thead>
            <tbody>

                @shops.map { 
                    case shop => {
                        <tr>
                            <td><a href="@routes.ShopsController.edit(shop.id)">@shop.name</a></td>
                            <td>
                                <a href="@shop.url">@shop.url</a>
                            </td>
                            <td>
                                @shop.active
                            </td>
                            <td>
                                @shop.creationDateTime.toString("dd MMM yyyy")
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + shops.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}